@import "../../responsive.scss";
.listPage {
    display: flex;
    height: calc(100vh - 100px  );

    @include md{
        flex-direction: column;

    }
    
}

.listContainer {
    flex: 3; 
    overflow-y: auto;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
        width: 7px; 
    }
    
    
}

.wrapper {
    height: calc(100% - 10px);
    padding-right: 50px;
    display: flex;  
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
    overflow-y: scroll;
    

    &::-webkit-scrollbar {
        width: 7px; 
    }
}

.mapContainer {
    flex: 2;
    height: 100%;
    margin-right: 100px;
    background-color: #100f14;
}

